#header {
    height: 80px;
    position: relative;
    background-color: black;
}

#welcomeText {
    width: 100%;
    color: black;
    padding-left: 20px;
    margin-top: 10px;
    position: relative;
    z-index: 99;
}

#selectionContainer {
    width: 100%;
    height: 50px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    padding-top: 9px;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}

ul li:hover {
    color: pink;
}

#viewContentContainer {
    width: 100%;
    height: auto;
}

#addProduct {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    display: none;
}

#viewUpdate {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    display: none;
}

#productInsert {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1000px;
    font-size: 20px;
}

#productInsertLeft {
    width: 300px;
    position: relative;
    float: left;
}

#productInsertRight {
    width: 700px;
    position: relative;
    float: left;
}

#productInsertRight input {
    position: relative;
    float: left;
    width: 300px;
    background-color: blue;
}

.displayProductImage {
    position: relative;
    float: left;
    width: 400px;
    height: 400px;
    border-radius: 0.3em;
    border-style: solid;
    border-color: black;
    overflow: hidden;
}

.displayProductImage img {
    object-fit: cover;
}

#productInsert input:focus {
    outline: none;
    border-color: pink
}

#imageSelection {
    visibility: hidden;
}

#productInput {
    width: 200px;
    height: 35px;
    display: block;
    margin-bottom: 20px;
    border-radius: 0.4em;
    border: none;
    border-style: solid;
    border-width: 0.5px;
    font-size: 16px;
}

#productPrice {
    width: 200px;
    height: 35px;
    display: block;
    margin-bottom: 20px;
    border-radius: 0.4em;
    border: none;
    border-style: solid;
    border-width: 0.5px;
    font-size: 16px;
}