/* Header Section Style */
header {
  position: fixed;
  height: 80px;
  line-height: 80px;
  width: 100%;
  z-index: 999;
}

/* Secondary Classes for page scroll down */
.scrollDownHeader {
  background-color: white;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s ease-in;
}

.default-header-color {
  color: white;
}

.scrollDownHeaderText {
  color: black;
}

/* Logo */
#logoSection {
  position: relative;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
}

/* Navigation Section */
#navigationContainer {
  position: relative;
  float: right;
  margin-right: 60px;
}

#navigationContainer ul {
  list-style: none;
}

#navigationContainer ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 15px;
}

#navigationContainer ul li a:hover {
  text-decoration: none;
  color: gray;
}

/* Search Input + Button Section */
#searchButton {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

#searchInputField {
  height: 30px;
  border: none;
  border-bottom-color: white;
  border-bottom-style: solid;
  background-color: transparent;
  outline: none;
  color: white;
  text-align: right;
  width: 180px;
}

#alternateSearchColor {
  height: 30px;
  border: none;
  border-bottom-color: black;
  border-bottom-style: solid;
  background-color: transparent;
  outline: none;
  color: black;
  text-align: right;
  width: 180px;
}

.defaultSearchColor {
  color: white;
}

.alternateSearchColor {
  color: black;
}

@keyframes searchEnter {
  0% {
    width: 0px;
  }
  100% {
    width: 180px;
  }
}

.defaultSearch {
  display: none;
}

.defaultSearchColor {
  color: white;
}

.showSearch {
  display: inline-block;
  animation: 1s ease-out 0s 1 searchEnter;
}

/* Header SlideShow */
#headerSlideShow {
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* Slogan Section */
#sloganSection {
  margin-top: 20px;;
  position: relative;
  width: 100%;
  height: 150px;
}

#sloganTop {
  width: 100%;
  height: 45%;
  padding-top: 10px;
}

#sloganTop h1 {
  position: relative;
  text-align: center;
  color: black;
  line-height: 67.5px;
  font-size: 2.4vw;
  font-weight: 700;
}

#sloganMid {
  width: 50%;
  min-width: 400px;
  height: 10%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#line {
  position: relative;
  float: left;
  width: 47%;
  height: 1px;
  border-bottom-style: solid;
  margin-top: 6px;
}

#midCircle {
  position: relative;
  float: left;
  width: 2%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: black;
}

#sloganBot {
  width: 100%;
  height: 45%;
}

#sloganBot h2 {
  text-align: center;
  font-weight: 150;
  line-height: 40px;
  font-size: 2.1vw;
}

/* WOMEN-UNISEX-MALE Section */
#women-unisex-male {
  height: auto;
  /* height: 750px; */
  position: relative;
  padding-top: 5%;
  margin-bottom: 50px;
}

.cards {
  position: relative;
  height: 500px;
  width: 100%;
  margin-top: 10px;
  background: #000;
  border-radius: 0.3em;
}

.cards:before,
.cards:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background: #000;
  transition: 0.5s;
}

.cards:hover:before {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}
.cards:hover:after {
  transform: rotate(5deg);
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}

.cards .imgContainer {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  bottom: 0.75em;
  right: 0.75em;
  transition: 0.5s;
  z-index: 1;
}

.cards .imgContainer img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 0.3em;
}

.cards:hover .imgContainer {
  bottom: 20px;
  cursor: pointer;
  transform: rotate(5deg);
}

.cards .textContainer {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  right: 10px;
}

/* Footer Section */
footer {
  height: 400px;
  background: #555555;
  position: relative;
}

/* 750px && DOWN */
@media(max-width: 750px) {
  #navigationContainer ul {
    display: none;
  }

}