/* Header Section Style */
header {
  position: fixed;
  height: 80px;
  line-height: 80px;
  width: 100%;
  z-index: 999;
}

/* Secondary Classes for page scroll down */
.scrollDownHeader {
  background-color: white;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s ease-in;
}

.default-header-color {
  color: white;
}

.scrollDownHeaderText {
  color: black;
}

/* Logo */
#logoSection {
  position: relative;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
}
/* TOGGLE menu */
#checkBtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
}

#check {
  display: none;
}

#menu-btn__burger {
  width: 0.9em;
  height: 0.15em;
  border-radius: 0.3em;
  transition: all 0.5s ease-in-out;
  background: #bbbbbb;
}

/* Navigation Section */
#menu-btn__burger::before,
#menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 0.9em;
  height: 0.15em;
  border-radius: 0.3em;
  transition: all 0.5s ease-in-out;
  background: #bbbbbb;
}

#menu-btn__burger::before {
  transform: translateY(-0.3em);
}

#menu-btn__burger::after {
  transform: translateY(0.3em);
}

#checkBtn.checkedBox #menu-btn__burger {
  transform: translateX(-1em);
  background: transparent;
  /* display: none; */
}

#checkBtn.checkedBox #menu-btn__burger::before {
  transform: rotate(45deg) translate(20px, -20px);
}

#checkBtn.checkedBox #menu-btn__burger::after {
  transform: rotate(-45deg) translate(20px, 20px);
}

/* NavBar Container */

#navigationContainer {
  position: relative;
  float: right;
  margin-right: 60px;
}

#navigationContainer ul {
  list-style: none;
}

#navigationContainer ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 15px;
}

#navigationContainer ul li a {
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

#navigationContainer ul li a:hover {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  /* background-color: #ffffff; */
  min-width: 100px;
  z-index: 1;
}

.dropdown-content.scrolled-down {
  background: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
  /* color: rebeccapurple; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 1.3em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search Input + Button Section */
#searchButton {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

#searchInputField {
  height: 30px;
  border: none;
  border-bottom-color: white;
  border-bottom-style: solid;
  background-color: transparent;
  outline: none;
  color: white;
  text-align: right;
  width: 180px;
}

#alternateSearchColor {
  height: 30px;
  border: none;
  border-bottom-color: black;
  border-bottom-style: solid;
  background-color: transparent;
  outline: none;
  color: black;
  text-align: right;
  width: 180px;
}

.defaultSearchColor {
  color: white;
}

.alternateSearchColor {
  color: black;
}

@keyframes searchEnter {
  0% {
    width: 0px;
  }
  100% {
    width: 180px;
  }
}

.defaultSearch {
  display: none;
}

.defaultSearchColor {
  color: white;
}

.showSearch {
  display: inline-block;
  animation: 1s ease-out 0s 1 searchEnter;
}

/* Header SlideShow */
#headerSlideShow {
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* Slogan Section */
#sloganSection {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 150px;
}

#sloganTop {
  width: 100%;
  height: 45%;
  padding-top: 10px;
}

#sloganTop h1 {
  position: relative;
  text-align: center;
  color: black;
  line-height: 67.5px;
  font-size: 2.4vw;
  font-weight: 700;
}

#sloganMid {
  width: 50%;
  min-width: 400px;
  height: 10%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#line {
  position: relative;
  float: left;
  width: 47%;
  height: 1px;
  border-bottom-style: solid;
  margin-top: 6px;
}

#midCircle {
  position: relative;
  float: left;
  width: 2%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: black;
}

#sloganBot {
  width: 100%;
  height: 45%;
}

#sloganBot h2 {
  text-align: center;
  font-weight: 150;
  line-height: 40px;
  font-size: 2.1vw;
}

/* WOMEN-UNISEX-MALE Section */
#women-unisex-male {
  height: auto;
  /* height: 750px; */
  position: relative;
  padding-top: 5%;
  margin-bottom: 50px;
}

.cards {
  position: relative;
  height: 500px;
  width: 100%;
  margin-top: 10px;
  background: #000;
  border-radius: 0.3em;
}

.cards:before,
.cards:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background: #000;
  transition: 0.5s;
}

.cards:hover:before {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}
.cards:hover:after {
  transform: rotate(5deg);
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}

.cards .imgContainer {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  bottom: 0.75em;
  right: 0.75em;
  transition: 0.5s;
  z-index: 1;
}

.cards .imgContainer img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 0.3em;
}

.cards:hover .imgContainer {
  bottom: 20px;
  cursor: pointer;
  transform: rotate(5deg);
}

.cards .textContainer {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  right: 10px;
}

/* Footer Section */
footer {
  color: white;
  height: 400px;
  background: #000;
  position: relative;
}

footer .footer-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  padding: 1em;
  width: 100%;
  text-align: center;
}

/* 750px && DOWN */
@media (max-width: 750px) {
  #navigationContainer ul {
    position: fixed;
    margin: 0;
    padding: 30px 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 1.5em;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    line-height: 30px;
  }

  #navigationContainer ul li {
    display: block;
    margin: 50px 0;
  }

  #navigationContainer ul li a {
    font-size: 1.5em;
  }

  #navigationContainer ul.whiteBg {
    background: white;
  }

  #navigationContainer ul.blackBg {
    background: black;
  }

  .dropdown-content {
    left: 0;
  }

  .dropdown-content.scrolled-down {
    box-shadow: none;
  }

  #checkBtn {
    display: inline-block;
    transform: translateY(-10px);
  }

  #menu-btn__burger {
    display: inline-block;
  }

  #check:checked ~ #navigationContainer ul {
    left: 0;
  }
}
